.bg{
    /* background-image: url(required('../../../static/bg.jpg')); */
    width: 100%;
    height: 100%;
    position: relative;
}

.login {
    width: 400px;
    height: 300px;
    border: 2px solid red;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}